body {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-family: Helvetica;
}
.Calculator {
    height: 75vh;
    margin-top: 120px;
}
.main-container {
    width: 300px;
    padding: 10px;
    background-color: black;
    border-radius: 45px;
}
.Display {
    display: flex;
    min-height: 96px;
    padding: 10px;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 50px;
    color: white;
    margin-top: 10px;
}
.cal-buttons {
    /* display: flex; */
    margin-bottom: 5px;
    flex-wrap: wrap;
    
}
/* .cal-buttons > * {
    border-radius: 50%;
    min-height: 50px;
    min-width: 50px;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
} */
.first-div {
    display: flex;
}
.seven,
.eight,
.nine,
.four,
.five,
.six,
.one,
.two,
.three,
.zero,
.decimal {
    background-color: #505050;
    border: none;
    color: white;
}
.divide,
.multiply,
.subtract,
.add,
.equal {
    background-color: #FF9500;
    border: none;
    color: white;
}
.first-div {
    gap: 13px;
}
.clear {
    background-color: #D4D4D2;
    border: none;
    flex-grow: 0.9;
    border-radius: 50px;
    min-width: 210px;
    min-height: 50px;
    font-size: 25px;
    padding: 10px 20px;
    margin: 5px;
    text-align: left;
}
.divide {
    
    border-radius: 50px;
    min-width: 55px;
    min-height: 55px;
    font-size: 25px;
    padding: 10px;
    margin: 5px;
    color: white;
}
.sec-div,
.third-div,
.fourth-div,
.fifth-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.seven,
.eight,
.nine,
.multiply,
.four,
.five,
.six,
.subtract,
.one,
.two,
.three,
.add,
.zero,
.decimal,
.equal {
    border-radius: 50px;
    min-width: 55px;
    min-height: 55px;
    font-size: 25px;
    padding: 10px;
    margin: 5px;
}
.zero {
    flex-grow: 0.8;
}
